
# Bỏ qua môi trường ảo Python
.venv/
venv/
ENV/
pyvenv.cfg

# Bỏ qua dependencies Node.js (nếu sau này có cài)
node_modules/

# Bỏ qua các file cấu hình hệ điều hành & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Bỏ qua các file log & môi trường bảo mật
*.log
.env
.env.local